@(tasks:List[(String,String)],selectNum:Int)

@import helper._
@import helper.twitterBootstrap._
@import models.Tasks

@main("ソースコード",styles=List("tab","prettify"),jss=List("prettify")) {

<div id="main">
	<div id="code">
			@printCode2Tab(selectNum)
	</div>

	<div id="comments">
		<ul>@** DBから取ってくる **@
		</ul>
			
	</div>

</div>
<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
<script type="text/javascript">
jQuery(function() {
	prettyPrint();
});
</script>
}

@printCode2Tab(selectNum:Int) = {
	<ul class="tabs">
	@for((task,i) <- tasks.zipWithIndex){
		<li>
			@if(i==(selectNum-1)){
				<input name="tab" id="tab@i" type="radio" checked />
			}else {
				<input name="tab" id="tab@i" type="radio">
			}
			<label for="tab@i">コード@{i+1}</label>
			<div class="contents tab@i">
				<div class="caption">
					@task._1
				</div>
				<div class="code">
					<pre class="prettyprint linenums">
@task._2
					</pre>
				</div>
			</div>
		</li>
	}
	</ul>
}

