@* top Template File *@
@(sid:Int)
@import helper._
@import helper.twitterBootstrap._

@main("Tasks") {
	
	<div id="sidebar">
		<div id="subjects">
		@allSubjects
	</div>
	
	<div id="main">
		
		<div id="newpost">
			@helper.form(action = routes.Application.uploaded, 'enctype -> "multipart/form-data") {
				<input type="file" name="source">
       			<input type="submit">
       		}
		</div>
		
		<div id="posts">
			<p>投稿一覧</p>
		</div>
		
	</div>
}

@subjects = @{Subjects.all()}
@allSubjects = {
<ul>
	@subjects.map{ sbj=>
		<li>
		@form(routes.Manage.managed("deleteSubject")) {
		<a href="@routes.Application.subject(sbj.subjectid)" target="_blank">@sbj.name</a>
		}
		</li>
	}
</ul>
}
