@(id:String)

@import helper._
@import helper.twitterBootstrap._

@main(id,styles=List("userhome")) {
	
	<div id="main">
		
		<div id ="mylog">
			@printPostTask
		</div>
		
		<div id="recvcomments">
			@printRcvComment
		</div>

		<div id="postcomments">
			@printPostComment
		</div>

		<div id="recviines">
			@printRecvIine
		</div>
	</div>
	
}

@printPostTask = {
	<p>投稿したファイル</p>
		<ul>
			@for(task <- Tasks.postNTasks(id,5)){
			<li  class="outline">
				<a href="@routes.Application.task(task.subjectid,task.userid,task.taskid)">
					@task.formatDate()<br>
					@task.subjectid/@task.userid<>@task.caption
				</a>
			</li>
			}
	</ul>

}

@printRecvIine = {
	<p>新着イイね</p>
	<ul>
	@for(iine <- Iines.recvNewIines(id,5)){
		<li class="outline">
			@if(iine.isNew){<span style="color:#F00">New!!</span>}<a href="@routes.Application.task(iine.subjectid,iine.userid,1)">
			@iine.pushUser<>@iine.formatDate()<br>
			@iine.subjectid/@iine.userid
			</a>
		</li>
	}
	</ul>
}

@printPostComment={
	<p>おくったコメント</p>
	<ul>
	@for(cmt <- Comments.postNComments(id,5)){
		<li  class="outline">
			<a href="@routes.Application.task(cmt.subjectid,cmt.userid,1)">
				@cmt.formatDate()<br>
				@cmt.subjectid/@cmt.userid<>@cmt.body
			</a>
		</li>
	}
	</ul>
}

@printRcvComment={
	<p>もらったコメント</p>
	<ul>
	@for(cmt <- Comments.recvNewsAndRecentUntilN(id,5)){
		<li class="outline">
			@if(cmt.isNew){<span style="color:#F00">New!!</span>}<a href="@routes.Application.task(cmt.subjectid,cmt.userid,1)">
			@cmt.postUser<>@cmt.formatDate()<br>
			@cmt.subjectid/@cmt.userid<>@cmt.body
			</a>
		</li>
	}
	</ul>
}
