@(id:String)

@import helper._
@import helper.twitterBootstrap._

@main(id,styles=List("userhome")) {
	
	<div id="main">

<table><tr>
<td>				
		<div id="recvcomments">
			@printRcvComment
		</div>
</td>
<td>
		<div id="recviines">
			@printRecvIine
		</div>
</td></tr>
<tr><td>
		<div id ="mylog">
			@printPostTask
		</div>
</td>
<td>
		<div id="postcomments">
			@printPostComment
		</div>
</td></tr></table>

	</div>
	
}

@printPostTask = {
	<h2>投稿したファイル</h2>
		<ul>
			@for(task <- Tasks.postNTasks(id,5)){
				<a href="@routes.Application.task(task.subjectid,task.userid,task.taskid)">
					<li>
						@task.formatDate()<br>
						@task.subjectid/@task.userid<>@task.caption
					</li>
				</a>
			}
	</ul>

}

@printRecvIine = {
	<h2>新着イイね</h2>
	<ul>
	@for(iine <- Iines.recvNewIines(id,5)){
		<a href="@routes.Application.task(iine.subjectid,iine.userid,1)">
			<li class="outline">
				@if(iine.isNew){<span style="color:#F00">New!!</span>}@iine.pushUser<>@iine.formatDate()<br>
				@iine.subjectid/@iine.userid
			</li>
		</a>
	}
	</ul>
}

@printPostComment={
	<h2>おくったコメント</h2>
	<ul>
	@for(cmt <- Comments.postNComments(id,5)){
		<a href="@routes.Application.task(cmt.subjectid,cmt.userid,1)">
			<li  class="outline">
				@cmt.formatDate()<br>
				@cmt.subjectid/@cmt.userid<>@cmt.body
			</li>
		</a>
	}
	</ul>
}

@printRcvComment={
	<h2>もらったコメント</h2>
	<ul>
	@for(cmt <- Comments.recvNewsAndRecentUntilN(id,5)){
		<a href="@routes.Application.task(cmt.subjectid,cmt.userid,1)">
			<li class="outline">
				@if(cmt.isNew){<span style="color:#F00">New!!</span>}@cmt.postUser<>@cmt.formatDate()<br>
				@cmt.subjectid/@cmt.userid<>@cmt.body
			</li>
		</a>
	}
	</ul>
}
